{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center mb-4">
      <img src="media/logo1.png" alt="Logo" style="max-width: 200px;">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form class="d-flex">
        <input class="form-control form-control-lg me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary btn-lg" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
